[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
azure-cognitiveservices-speech = "*"
requests = "*"
dotenv-python = "*"
black = "*"
python-dotenv = "*"
flask = "*"
flask-cors = "*"
gtts = "*"

[dev-packages]

[requires]
python_version = "3.10"
